body {
  font-family: 'Quicksand';
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

#imagebouton {
  display: flex;
  align-items: center;
}

nav button {
  background-color: #ff0000;
  font-family: QuickSand;
  text-transform: uppercase;
  border: 0px;
  font-size: 20px;
  border-radius: 5px;
  height: 50px;
  width: 150 px;
  margin-left: 30px;
}

menu ul {

  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-align: center;
  font-weight: bold;
  gap: 80px;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
  margin: 0px;


}

#frontend {
  border-radius: 15px;
  height: auto;
  width: 80vw;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);

}

#backend {
  border-radius: 15px;
  height: auto;
  width: 80vw;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
  padding-top: 15px;

}

#outils {
  border-radius: 15px;
  height: auto;
  width: 80vw;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);

}

#graphisme {
  border-radius: 15px;
  height: auto;
  width: 80vw;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
  margin-bottom: 20px;

}

menu a {
  color: black
}

menu a:visited {
  color: white;
}

menu {
  background-color: #35b2c1;
  padding: 0px;
  margin: 0px;
}

#presentation {
  background-color: rgb(243, 241, 241);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

#presentation h1 {
  text-align: center;
  text-transform: uppercase;
  color: #35b2c1;
}

#competences {
  background-color: rgb(243, 241, 241);
  margin-top: 40px;
  width: 100vw;

}

#presentation p {
  text-align: justify;
  font-weight: 200;
}

#droite {
  transform: scaleX(-1);
}

#techno {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
}

#techno img {
  padding: 50px;
  padding-top: 20px;
}



#logos {
  text-align: center;
}

#projets {
  background-color: rgb(243, 241, 241);
}

h1 {
  color: #35b2c1;
  text-align: center;
  font-size: 24px;
}

#lignecompetence {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
}

#lignecompetence img {
  padding-bottom: 0px;
}

#illusprojets {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

#illusprojets img {
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
  width: 30vw;
}

#illusprojets p {
  text-align: center;
}

#projets {
  background-color: white;
}

#contacts {
  background-color: #35b2c1;
  width: 100vw;
}


#contacts h1 {
  color: white
}

#contact {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

#contact a {
  color: inherit;
}

@media screen and (max-width:1024px) {
  ul {
    flex-direction: column !important;
    gap: 20px !important;
    padding: 0px !important;
  }

}

@media screen and (max-width:768px) {
  #presentation {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }

  #hello {
    width: 50vw
  }

  #contact div {
    width: 60vw;
  }

  #droite {
    display: none;
  }

  button {
    width: 100px;
    font-size: 12px !important;

  }

  #contacts {
    justify-content: center !important;
  }

  #imagebouton {
    flex-direction: column;
  }

  #illusprojets img {
    padding: 5px;
    width: 70vw
  }
}